# ML FizzBuzz Test

Classify numbers into four classes: “None”, “Fizz”, “Buzz”, and “FizzBuzz”.

In [1]:
# Import general packages
import os
import pandas as pd
import numpy as np
from numpy import ndarray

# Local package created to provide clean code
from fizzbuzz_classification.data_loader import DataLoader

## Data understanding

### Data collection

In [2]:
# Load and preprocess the data
loader = DataLoader()
set_length = 100
loader.generate_data(set_length)
df_data = loader.load_data('original', set_length)

display(df_data.info())
display(df_data.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  100 non-null    int64
 1   label   100 non-null    object
dtypes: int64(1), object(1)
memory usage: 1.7+ KB

None

   number label
0       1   nan
1       2   nan
2       3  Fizz
3       4   nan
4       5  Buzz